# Исключаем конфигурационные файлы редакторов и IDE
.vscode/

# Исключаем папку с артефактами CI/CD
.github/

# Исключаем папку с отчетами Allure
allure-results/

# Исключаем локальные данные
data/

# Исключаем переменные окружения (если они есть)
.env

# Исключаем директории Go modules и кэша сборки
/pkg
/bin
/build

# Исключаем временные файлы и папки
*.tmp
*.swp
*.swo

# Исключаем логи
*.log

# Исключаем системные файлы
.DS_Store
Thumbs.db

# Исключаем временные файлы
*.out
*.test
